@import '@/assets/styles/variables.scss';

.chat_list {
  margin: 20px;
  min-height: 80vh;
}
.list_item + .list_item {
  border-top: 2px solid #ddd;
}
.head_img {
  width: 80px;
  height: 80px;
  border: 2px solid #666;
  border-radius: 8px;
}
.head_img_wrap {
  padding: 20px;
}
.name {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
}
.right {
  padding: 10px;
  min-width: 100px;
  text-align: right;
}
.infos {
  text-align: start;
  width: 11rem;
}
:global {
  .adm-badge-wrapper {
    .adm-badge-content {
      line-height: var(--adm-font-size-1);
      padding: 4px 6px;
    }
  }
}
