@import '@/assets/styles/variables.scss';

:root {
  --footer-height: 160px;
}

.empty_block {
  box-sizing: border-box;
  height: var(--footer-height);
  padding: 20px 0 20px;
}

.footer {
  box-sizing: border-box;
  z-index: 100;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  padding: 20px;
}

.chat_btn {
  border-radius: 10px;
  background-color: #fff;
  height: 80px;
  width: 100%;
}
