@import '@/assets/styles/variables.scss';
.all {
    background: #f2f2f2;
	height: calc(100vh - 240px);
	border-top: 1px solid #000000;
}
.directory{
    background: #f2f2f2;
}
.special{
    font-size: 1rem;
    color: #ff6464;
	font-weight: bold;
    padding: 0 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: flex-start;
    .span{
        padding: 0.1rem;
        border: 1px solid #ddd;
    }
    .span:active, span:hover {
        color: rgb(50, 142, 227);
    }
}

.list-00 {
    padding: 0 0.5rem;
    line-height: 2rem;
    color: #181717;
    font-size: 1.4rem;
    font-weight: bold;
    background: #f2f2f2;
}
.list-item {
    font-size: 0.9rem;
    padding: 0 1.2rem;
    line-height: 2rem;
    color: #434242;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.list-item:active, list-item:hover {
	color: rgb(59, 132, 235);
    background-color: #ddd9d9;
}


