@import '../../assets/styles/variables.scss';

:root {
  --header-height: 100px;
}

.empty_block {
  height: var(--header-height);
}

.header {
  box-sizing: border-box;
  z-index: 100;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  position: fixed;
  font-size: 48px;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 32px;
}
