@import '../../assets/styles/variables.scss';

:root {
  --header-height: 100px;
}

.empty_block {
  height: var(--header-height);
}

.header {
  z-index: 100;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  position: fixed;
}

.title {
  font-size: 32px;
}
