:root {
  --background-color-light: #f2f2f2;
  --background-color: #f9f9f9;
  --primary-color: #333;
  --font-color: #333;
  --desc-color: #666;

  --adm-radius-s: 8px !important;
  --adm-radius-m: 16px !important;
  --adm-radius-l: 24px !important;
  --adm-font-size-1: 18px !important;
  --adm-font-size-2: 20px !important;
  --adm-font-size-3: 22px !important;
  --adm-font-size-4: 24px !important;
  --adm-font-size-5: 26px !important;
  --adm-font-size-6: 28px !important;
  --adm-font-size-7: 30px !important;
  --adm-font-size-8: 32px !important;
  --adm-font-size-9: 34px !important;
  --adm-font-size-10: 36px !important;
}
